* {
  margin: 0;
  padding: 0;
  font-family: circularairpro-bold,Helvetica,Arial,sans-serif;
}
#footer {
  margin-top: 30px;
}
.footer1 {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(1, auto);
  width: 100%;
}
.footer1 > div {
  margin-top: 20px;
  height: 350px;
  font-family: helvetica, arial, sans-serif;
  /* border: 1px solid black; */
}
.footer2 {
  width: 98%;
  margin: 0 auto;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
}
.footer1 > div > a {
  text-decoration: none;
  color: black;
  font-size: smaller;
  line-height: -30px;
}
.footer2 > p {
  margin-top: 10px;
  font-size: smaller;
  margin-bottom: 10px;
}
#logo > img {
  height: 42px;
  width: 130px;
  margin-left: 12%;
}
#logo > p {
  margin-left: 12%;
  font-size: 13px;
}
.Google {
  margin-left: -9%;
}
.Google > img {
  margin-top: 10px;
  height: 40px;
}

/* ------------------------------------------------------- */
#footer1hrline {
  width: 40%;
  margin-left: 12%;
  margin-top: -8px;
  margin-bottom: 10px;
}
#social {
  display: flex;
  gap: 10px;
  margin-left: 13%;
}
#social > a > img {
  height: 20px;
  width: 20px;
  /* margin-left: 20px; */
}
