* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-family: circularairpro-bold,Helvetica,Arial,sans-serif;
}
.nav {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  border: 1px solid black;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-popup {
  visibility: hidden;
  width: 130px;
  background-color: white;
  color: black;
  padding-left: 20px;
  border-radius: 2px;
  margin-left: -50px;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  line-height: 35px;
}
.tooltip:hover .tooltip-popup {
  visibility: visible;
}
.logo > img {
  margin-top: 4px;
  display: inline-block;
}
.nav1 {
  display: flex;
  gap: 30px;
  margin-left: 1%;
}
input {
  display: inline-block;
  height: 30px;
  width: 400px;
  margin-top: 8px;
}
.nav2 {
  display: flex;
  margin-right: 1%;
}
.nav2 {
  gap: 50px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 15px;
}

.tooltip > a > p {
  margin-top: 20px;
  color: white;
  margin-right: 50px;
}
.tooltip > a {
  text-decoration: none;
}
.tooltip > p {
  color: white;
  margin-top: 20px;
  margin-right: 50px;
}
p{
  max-height: 100px;
   line-height: 25px;
    margin-right: 0px;
}
