* {
  margin: 0px;
  padding: 0px;
  font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
}
#common_Header1 {
  width: 100%;
  /* height: 500px; */
  height: 70vh;
  background-image: url("https://cdn1.tripoto.com/media/filter/nxxl/img/1339961/Image/1650524733_2c_1.jpg");
  background-size: cover;
}
#common_nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  top: 0;
  left: 0;
  position: absolute;
  position: relative;
  /* border: 1px  solid black; */
  /* background-color: rgb(71, 69, 69); */
}
#common_nav > div:nth-child(1) {
  width: 13%;
  height: 10vh;
  margin-top: 5px;
}
#common_nav > div:nth-child(3) {
  height: 10vh;
  margin-left: 2%;
}
#Hindi_link {
  display: flex;
  justify-content: space-between;
  margin-left: 1%;
}
#Hindi_link > a {
  margin-right: 10px;
  gap: 20px;
  text-decoration: none;
  margin-top: 20px;
  font-weight: bolder;
  color: white;
  font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
  font-weight: 700;
}
#Common_navsearch {
  width: 40%;
  height: 2vw;
  /* margin-left: 0px; */
  border-radius: 5px;
  background-color: white;
  padding: 7px;
  margin-top: 12px;
}
#hindiInputCont {
  justify-content: center;
  align-items: center;
  line-height: 4vh;
  border: none;
  outline: none;
  width: 90%;
}
#mainLogo {
  height: 200px;
  width: 200px;
}
.small_img {
  /* height: 20px; */
  margin-top: -6px;
  margin-right: 10px;
}
#tripotodiv1 {
  margin-top: 30px;
  margin-left: 3%;
  margin-right: 3%;
}
#tripotodiv1 > h1,
h2 {
  /* padding: 30px; */
  margin-top: 20px;
  margin-bottom: 20px;
}
#tripotodiv2Image {
  display: flex;
  margin-left: 1.3%;
}
#tripotodiv2Image > img {
  margin-top: 20px;
  height: auto;
  width: 400px;
  margin-left: 40px;
  border-radius: 10px;
}
#tripotodiv3Image {
  margin-left: 4%;
  margin-top: 40px;
  height: auto;
  width: 91%;
  border-radius: 10px;
}
#Hindi2div {
  display: flex;
  /* width: 30%; */
  margin-left: 3%;
}
#Hindi2div > div > a > img {
  /* margin-left: 20%; */
  height: 210px;
  width: 320px;
  border-radius: 10px;
  margin-right: 20px;
}
#Hindi2div > div > div > a {
  text-decoration: none;
  margin-top: 10px;
  font-size: 20px;
  color: black;
}
#hindiHeading1 {
  padding: 30px;
  font-size: 30px;
  text-decoration: wavy;
}
#Hindi2divcontatnt {
  margin-top: 10px;
  width: 300px;
  font-weight: bold;
  font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
  /* font-weight: 700; */
}
#Hindi2divcontatnt2 {
  margin-top: 10px;
}
#Hindi2divcontatnt2 > span > a {
  text-decoration: none;
}

#parent {
  width: 70%;
  height: 30vh;
  margin: auto;
  margin-top: 50px;
}
#slider {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  transition: 0.9s;
  /* border: 1px solid black; */
}
#prev {
  position: absolute;
  margin-top: 10%;
  margin-left: -12%;
  transform: (-40%);
  padding: 1% 1.5%;
  border-radius: 30px;
  color: rgb(90, 82, 239);
  border: none;
}
#next {
  position: absolute;
  margin-top: 10%;
  margin-left: 73%;
  transform: (40%);
  padding: 1.5% 1.5%;
  border-radius: 50%;
  color: rgb(90, 82, 239);
  border: none;
}
.sliderimages {
  margin-left: -10%;
}
.sliderimages > img {
  height: 290px;
  width: 350px;
  /* border-radius: 20px; */
}
.sliderimages > p {
  font-size: 22px;
  font-weight: bolder;
}
#lastdivtripoto {
  margin-top: 10%;
  margin-bottom: 30px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-popup {
  visibility: hidden;
  width: 130px;
  background-color: white;
  color: black;
  padding-left: 20px;
  border-radius: 2px;
  margin-left: -50px;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  line-height: 35px;
}
.tooltip:hover .tooltip-popup {
  visibility: visible;
}
.tooltip .tooltip-popup {
  visibility: hidden;
  width: 130px;
  background-color: white;
  color: black;
  padding-left: 20px;
  border-radius: 2px;
  margin-left: -50px;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  line-height: 35px;
}
.tooltip:hover .tooltip-popup {
  visibility: visible;
}
.tooltip > a > p {
  margin-top: 20px;
  color: white;
  margin-right: 30px;
}
.tooltip > a {
  text-decoration: none;
}
.tooltip > p {
  color: white;
  margin-top: 20px;
  margin-right: 30px;
}
