#outer{
    width: 25%;
    border: 1px solid;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
}
#inner{
    width: 85%;
    margin: auto;
}
#facebookBtn{
    background-color: #4a66a0;
    color: white;
    border: 0px;
    border-radius: 5px;
}
#form>button{
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    padding: 10px;    
    display: block;
    border: white;
    border-radius: 5px;
}
#form>button:hover{
    cursor: pointer;
}
#or{
    text-align: center;
    color: grey;
}
#form>input{
    width: 92%;
    margin-top: 15px;
    padding: 10px;
}
#loginBtn{
    border: #f27669;
    background-color: #f27669;
    color: white;
    display: block;
    text-align: center;
}

#signupBtn{
    text-align: center;
}