
#container{
    width: 25%;
    border: 1px solid;
    border-radius: 10px;
    margin: auto;
}
#inner_box{
    width: 85%;
    margin: auto;
}
#facebook_btn{
    background-color: #4a66a0;
    color: white;
    border: 0px;
    border-radius: 5px;
}
#inner_box>button{
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    padding: 10px;    
    display: block;
    border: white;
    border-radius: 5px;
}
#inner_box>button:hover{
    cursor: pointer;
}
#or{
    text-align: center;
    color: grey;
}
#inner_box>input{
    width: 92%;
    margin-top: 15px;
    padding: 10px;
}
#signup_btn{
    border: #f27669;
    background-color: #f27669;
    color: white;
    display: block;
    text-align: center;
}
#loginBtn{
    text-align: center;
}
