
#container{
    width: 25%;
    border: 1px solid;
}
#inner_box{
    border: 1px solid red;
    width: 85%;
    margin: auto;
}
#inner_box>button{
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    padding: 10px;    
    display: block;
}
#or{
    text-align: center;
    color: grey;
}
#inner_box>input{
    width: 92%;
    margin-top: 15px;
    padding: 10px;
}
#signup_btn{
    border: #f27669;
    background-color: #f27669;
    color: white;
    display: block;
    text-align: center;
}
