* {
  margin: 0px;
  padding: 0px;
  font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
}

/* .tooltip {
  position: relative;
  display: inline-block;
} */

.tooltip .tooltip-popup {
  /* visibility: hidden; */
  width: 130px;
  background-color: white;
  color: black;
  padding-left: 20px;
  border-radius: 2px;
  margin-left: -50px;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  line-height: 35px;
}
.tooltip:hover .tooltip-popup {
  visibility: visible;
}
.tooltip .tooltip-popup {
  visibility: hidden;
  width: 130px;
  background-color: white;
  color: black;
  padding-left: 20px;
  border-radius: 2px;
  margin-left: -50px;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  line-height: 35px;
}
.tooltip:hover .tooltip-popup {
  visibility: visible;
}
.tooltip > a > p {
  margin-top: 20px;
  color: white;
  margin-right: 30px;
}
.tooltip > a {
  text-decoration: none;
  gap: 0px;
  /* margin-top:100px ; */
}
.tooltip > p {
  color: white;
  margin-top: 22px;
  margin-right: 30px;
}

#login {
  width: 25%;
  height: 60vh;
  background-color: white;
  top: 35px;
  left: 500px;
  border-radius: 10px;
  display: none;
  position: absolute;
  position: fixed;
}
#facebook {
  width: 90%;
  height: 8vh;
  margin: auto;
  margin-top: 30px;
  background-color: rgb(166, 166, 241);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
#google {
  width: 90%;
  height: 5vh;
  padding: 3px;
  margin: auto;
  margin-top: 8px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#email {
  width: 90%;
  height: 5vh;
  outline: none;
  margin-left: 18px; border: 1px solid gray;
  border: 00.01px solid gray;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  border-radius: 2px;
  /* border: none; */
  padding: 2px;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
#email1 {
  width: 90%;
  height: 5vh;
  outline: none;
  margin-left: 18px;
  border: 1px solid gray;
  border: 00.01px solid gray;
  border-radius: 2px;
  margin-top: 15px;
}
#options {
  width: 92%;
  height: 5vh;
  outline: none;
  margin-left: 18px;
  border: 1px solid blueviolet;
  border-radius: 5px;
  margin-top: 15px;
}
#robot {
  width: 92%;
  height: 8vh;
  border: 1px solid blueviolet;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}
#checkbox {
  width: 7%;
  height: 4vh;
  border: 1px solid red;
  margin-top: 13px;
  margin-left: 20px;
  float: left;
}
#captcha {
  width: 20%;
  height: 6vh;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}
#name {
  width: 90%;
  height: 5vh;
  outline: none;
  margin-left: 18px;
  /* border: 1px solid blueviolet; */
  border: 00.01px solid gray;
  border-radius: 3px;
}
#password {
  width: 90%;
  height: 5vh;
  outline: none;
  margin-left: 18px;
  border: 00.01px solid gray;
  /* border: 1px solid blueviolet; */
  margin-top: 15px;
  border-radius: 3px;
}
#password1 {
  width: 90%;
  height: 5vh;
  outline: none;
  margin-left: 18px;
  /* border: 1px solid blueviolet; */
  margin-top: 15px;
  border-radius: 5px;
}
#remember {
  width: 90%;
  height: 5vh;
  margin: auto;
  margin-top: 10px;
  border-radius: 5px;
}
#button {
  width: 90%;
  height: 5vh;
  margin-left: 18px;
  margin-top: 10px;
  background-color: rgb(241, 116, 116);
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
#button1 {
  width: 90%;
  height: 5vh;
  margin-left: 18px;
  margin-top: 10px;
  background-color: rgb(250, 8, 8);
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
#termcondition {
  width: 90%;
  height: 6vh;
}
#signup {
  width: 90%;
  height: 5vh;
  margin: auto;
  margin-top: 10px;
}
#fbimage {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-left: 80px;
  float: left;
  margin-top: 7px;
}
#text {
  width: 50%;
  height: 3vh;
  float: left;
  margin-top: 7px;
  margin-left: 10px;
}
#fbimage > img {
  width: 100%;
  height: 100%;
}
#close {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  float: right;
  margin-right: 5px;
}
#close > img {
  width: 100%;
  height: 100%;
}
#signin {
  width: 25%;
  height: 85vh;
  background-color: white;
  top: 35px;
  left: 500px;
  border-radius: 10px;
  margin-top: 20px;
  display: none;
  position: absolute;
  position: fixed;
}
#header {
  width: 100%;
  height: 60vh;
  background-image: url("https://cdn1.tripoto.com/assets/2.9/img/home_banner_road.jpg");
  background-size: cover;
}
#nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  /* position: absolute; */
  /* position: relative; */
}
#nav > div:nth-child(1) {
  width: 13%;
  height: 10vh;
  /* margin-left: 30px; */
  /* margin-top: 5px; */
}
#nav > div:nth-child(3) {
  /* width: 35%; */
  /* height: 10vh; */
  margin-right: 30px;
}
#link {
  display: flex;
  justify-content: space-between;
}
#link > a {
  text-decoration: none;
  margin-top: 20px;
  gap: 10px;
  font-weight: bolder;
  color: white;
}
#global {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-top: 55px;
  font-weight: bolder;
}
#search {
  width: 48%;
  height: 5vh;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
}

#newinput {
  line-height: 1vh;
  border: none;
  outline: none;
  width: 90%;
}
#input {
  line-height: 2vh;
  border: none;
  outline: none;
  width: 95%;
  margin-top: 0px;
}
.box img {
  width: 97%;
  height: 310px;
}
/* #Litleanchortag1{
    color: white;
    margin-top: 20000px;
} */
/* .tooltip {
    margin-top: 40px;
} */