* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.nav {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding-top: 10px;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-popup {
  visibility: hidden;
  width: 130px;
  background-color: white;
  color: black;
  padding-left: 20px;
  border-radius: 2px;
  margin-left: -50px;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
  line-height: 35px;
}
.tooltip:hover .tooltip-popup {
  visibility: visible;
}
.logo > img {
  margin-top: 4px;
  display: inline-block;
}
.nav1 {
  display: flex;
  gap: 30px;
  margin-left: 1%;
  
}
input {
  display: inline-block;
  height: 30px;
  width: 400px;
  margin-top: 8px;
}
.nav2 {
  display: flex;
  margin-right: 1%;
}
.nav2 {
  gap: 50px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 15px;
}
#background-img {
  margin-top: -50px;
  height: 350px;
  background-image: url(https://cdn1.tripoto.com/assets/2.9/img/home_banner_road.jpg);
  width: 1400px;
  margin-left: -44px;
}
#background-img > h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  margin-top: 80px;
}
/* #Inputboxchnage{
    mari
} */